.adt-container{
    background: #fff;
    max-width: 100%;
    flex-wrap: wrap;
}
.adt-image{
   
    width: 904px;
    height: 93px;
    display: flex;
    align-items: center;
   
}
/*the image is not positioned right*/