.herosection-container{
  top: 12px;
  background: #F2F0FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 764px;
  gap: 135px;
  
  
  
  
  
}
 h1, h2, h3,button{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
}

.HeroSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}
.hero-content{
    align-items: center;
    margin: 0;
    top: 0%;
    line-height: 60%;
    flex-direction: column;
    display: grid;
    justify-content: center;
    text-align: center;
    
    position: relative;
    padding: 0 2rem;
    vertical-align:baseline;
    
    
  
    
}






  


  
  

.promotional-image.left img{
  margin-right: 3px;
  margin-top: 0;
  background-color: #F2F0FF;
  position: absolute;
  width: 387px;
  height: 387px;
  margin-left: -200px;


  

}

.hero-btn{
  background: #FB2E86;
  width: 163px;
  height: 50px;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  
}
.hero-content{
 text-align: left;
 margin-left: -150px;
 width: 644px;
 height: 248px;
 
 
}
.hero-subtitle{
  width: 230px;
  height: 28px;
  font-weight: 700;
  font-size: 16px;
  color: #FB2E86;
  white-space: nowrap;


}
.hero-title{
  color: #000;
  width: 644px;
  height: 140px;
  font-weight: 700;
  font-size: 53px;
  margin-top: 10px;

}
.hero-Subtitle{
  color: #8A8FB9;
  width: 559px;
  height: 56px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
 
  

}

