.features-container{
    display: flex;
    flex-direction: row;
    background-color: #a7c2f4;
}
.features-info{
    text-align: center;
}
.subtitle{
    color: rgb(0, 52, 164);
}.l1 l2 l3  {
    text-align: center;
    list-style:disc;
    font-size: medium;

}
.Add-to-Cart-btn{
    background-color: rgb(176, 6, 125);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4%;
    margin-top: 20%;
    
}
.sofa-name{
    color: rgba(9, 9, 163, 0.768);
    
}
.features-price{
    color: rgba(9, 9, 163, 0.768);
    margin-top: -30px;
}