    .blog-container{
        width: 100%;
        height:493px;
        
    }
    .blog-icon{
        color: rgb(38, 38, 125);
        gap: 25px;
    }
    .blogg-icon{
        color: deeppink;

    }
    .blog-number{
        color: coral;
        margin-left: 20px;
    }
    img{
        border-radius: 5%;

    }
    .blog-sub{
        color: rgb(38, 38, 125);
    }
    .blog-sub :hover{
        color: deeppink;
    }
    .read-more-btn{
        text-decoration: underline;
    }
    .read-more-btn :hover{
        color: deeppink;
    }
    /*blog-sub hover+ read more hover ain't showing effect*/