.least-grid-container{
    background-color: white;
    max-height: 100%;
}
.page-subtitle{
     text-align: center;
     color:#151875;
     font-size: 40px;
     font-weight: 700;
     
}
.pages-button{

    display: flex;
    flex-direction: row;
    opacity: 1;
    justify-content: center;
    gap: 45px;
    margin-bottom: 20px;
    
     
}
div button{
    color: #151875;
    justify-content: center;
    border: none;
    font-weight: 600;
    font-size: 16px;
} 
div button:hover{
    color:#FB4997;
    text-decoration: underline;
}
