.blog-grid-container{
    background-color: #fff;
}
.blog-title{
    display: flex;
    color: rgb(38, 38, 125);
    justify-content: center;
}
.blog-grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:nowrap;
    gap: 30px;
}