.least-card{
    background-color: rgba(240, 248, 255, 0.762);
    width: 360px;
    height: 310px;
}
.least-card :hover{
    transform: translateY(-5px);
}
.least-toppart{
    width: 360px;
    height: 275px;
}
.least-product-image{
    width: 300px;
    height: 262px;

}
.least-icon{
    display: flex;
    flex-direction: column; 
    color: rgb(14, 70, 238);
    opacity: 0;
    margin-bottom: -35px;
}
.shop-icon{
    color: #2F1AC4;
    margin-right: 10px;
}
.heart-icon{
    color: #2F1AC4;
    margin-right: 10px;
}
.searchplus-icon{
    color: #2F1AC4;
    margin-right: 10px;
}
.least-icon:hover{
    opacity: 1;
    visibility: visible;
    
}
.least-info{
    width: 360px;
    height: 35px;

}

.least-name{
    color:#2F1AC4;
    font-size: medium;
    opacity: 1;
    
}
.least-price{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-top: -30px;
}

 .old-prices{
    color: brown;
    text-decoration: line-through;

}