.product-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 361px;
  width: 270px;
  justify-content: flex-start;
  align-items: center;
  
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}
.product-container-top{
  width: 270px;
  height: 236px;
  background-color: #F6F7FB;
}
.product-id{
  opacity: 0;
}
.product-image {
  margin-top: -40px;
  margin-left: 40px;
  align-content: center;
  height: 150px;
  width:130px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}



.product-card:hover .product-image img {
  transform: scale(1.05);
}
.product-icon{
    opacity: 0;
    margin: 20px;
    justify-content: flex-start;
    padding: 10px;

    
}
.product-shop-icon{
    color: #2F1AC4;
    margin-right: 10px;
}
.product-heart-icon{
    color: linear-gradient(#1389FF,#1DB4E7);
    margin-right: 10px;
}
.product-searchplus-icon{
    color: linear-gradient(#1389FF,#1DB4E7);;
    margin-right: 10px;
}

.product-icon:hover{
    color: #292694;
    opacity: 1;
}

.product-info{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 270px;
    height: 125px;
    
}
.product-info:hover{
  background-color: #2F1AC4;

}
.product-name {
  margin-top: 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #b70923;
  margin-bottom: 10px;
}
.product-price {
  font-size: 1.0rem;
  font-weight: 500;
  color: #0d0894;
  margin: 5px;
}
.product-code{
  font-size: 1.0rem;
  font-weight: 500;
  color: #0d0894;
  margin: 5px;
}
.view-details-btn {
  margin-top: -40px;
  background: #13bb40;
  color: white;
  border: none;
  padding: 12px 20px;
  font-weight: 500;
  cursor: pointer;
  opacity: 0;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  
  
}
.product-card:hover .view-details-btn {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}


