.product-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 361px;
  width: 270px;
  justify-content: flex-start;
  align-items: center;
  
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}
.product-image {
  position: relative;
  height: 100px;
  width: fit-content;
  overflow: hidden;
  display: flex;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.product-card:hover .product-image img {
  transform: scale(1.05);
}
.product-icon{
    opacity: 0;
    margin: 2px;
    justify-content: flex-start;
    gap: 10px;

    
}

.product-icon:hover{
    color: #292694;
    opacity: 1;
}
/*This product icon is supposed to be visible only when the item is clicked*/
.product-info{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    
}
.product-info:hover{
  background-color: #2F1AC4;

}
.product-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: #b70923;
  margin-bottom: 10px;
}
.product-price {
  font-size: 1.0rem;
  font-weight: 500;
  color: #0d0894;
  margin: 5px;
}
.product-code{
  font-size: 1.0rem;
  font-weight: 500;
  color: #0d0894;
  margin: 5px;
}
.view-details-btn {
  background: #13bb40;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0;
  font-size: small;
  
}
.product-card:hover .view-details-btn {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}


