.product-grid-container{
    background-color: white;
    margin-top: 0;
}
.page-title{
    color: rgb(5, 51, 150);
    justify-content: center;
    
    
}
.product-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 25px;
        }
        
        /*remember to remove the black empty space between the banner and featured products
        the featured products is supposed to be centred
        