.top-card{
    max-width: 100%;
    width: 269px;
    height: 345px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 5%;
   margin-right: 20px;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    
   
}

.top-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.top-image-container{
    
    width: 269px;
    background: rgba(201, 201, 202, 0.751);
    height: 269px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: x 0 y 8;;
    
}
.top-image{
    width: 158px;
    height: 157px;
}
img{
     max-width: 100%;
    height: 90%;
    object-fit: contain;
    transition: transform 0.3s ease;

}

.top-info {
   padding: 20px 15px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
   
}

.top-name {
    font-size: 1.1rem;
    color: #083583;
    margin: 0 0 10px 0;
    font-weight: 600;
}
    .top-price {
    font-size: 1.2rem;
    color: #14397a;
    font-weight: 700;
}
.view-shop-btn {
  background: #13bb40;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  width: 100px;
  height: 50px;
  justify-content: center;
  position: absolute;
  bottom: 70px;
  left: 30%;
  transform: translateX(-50%) translateY(20px);
  font-size: small;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 3;
  line-height: 100%;
  letter-spacing: 0%;
 
  
  
}
.top-card:hover .view-shop-btn {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}