.top-grid-container{
    background-color: #fff;
   max-width: 100%;
   max-height:100%;
   
}
.top-grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}
.top-title{
    justify-content: center;
    font-size: 30px;
}