.trend-card{
    width: 270px;
    height: 400px;
    margin-top:0 ;
}
.trend-card :hover{
   
    transform: translateY(-5px);
    
}

.product-image{
    max-width: 100%;
    height: 70%;
}
.trend-name{
    text-align: center;
    color: rgb(16, 62, 148);

}
.trend-price{
    display: flex;
    gap: 20px;
}
.new-price{
    color: rgb(16, 62, 148);
}
.old-price{
    color: gray;
}

