.main-container{
    
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.mainn{
    display: flex;
    background-color:#EEEFFB ;
    height: 459px;
    justify-content: space-evenly;
    
}
.footer-submit{
    background-color: #FB2E86;
    width: 135px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
}
.min{
    background-color: #E7E4F8;
    height: 53px;
    display: flex;
    justify-content: space-evenly;
}
h2{
    color: black;
}
form{
    display: flex;
}
input{
    background: #fff;
    height: 50px;
}
input id{
    color: gray;
}