header{
background: #7E33E0;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.5rem 2 rem;
width:100%;
position: sticky;
top: 0;
z-index: 1000;

}
.contact-info {
margin-right: auto;
font-size: 16px;
font-weight: 600;
justify-content: space-between;



}
form select{
    background-color: transparent;
    color: #fff;
    border: none;

    
}
option{
    color: #000;
}
ul li a{
    display: flex;
    color: white;
    text-decoration: none;
    margin-top: 0rem;
    align-items:center ;
    font-size: small;
    list-style: none;
    
    
}
.shopping-cart{
  
  margin-left: 10px;
    background-color:#7E33E0;
    
    
    
 
}
 