.homepage-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.homepage-sections {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0 ; 
  font-family: josefin sans-serif;
}
@media(max-width: 750px){
  .homepage-sections {
    gap: 1rem;
    flex-direction: column; 
  }
}