.navbar{
    display: flex;
    border: none;
    width: 100%;
    align-items: center;
    background: #fff;
    color: black;
   z-index: 999;
    position: sticky;
    top: 5%;
}
.nav-container button{
    border: none;
    background: none;
    color: #000;
    text-decoration: none;
}
.nav-container button:hover{
    color: #FB2E86;
}



.h1{
   color: black;
    font-weight:bold ;
    font-size: medium;

}
.nav-container{
    display: flex;
    align-items: center;
    margin-left:10rem;
    gap: 1rem;
    border: none;
    color: black;


}


.search-box{
    display: flex;
    height: 40px;
    padding: 0.7rem;
    
    
    
}
.navbar-submit{
    background: rgb(233, 20, 123);
    color: white;
    border: none;
    padding: 0.7rem;
    
}
.nav-container form{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.nav-container form input{
    height: 1.5rem;
    padding: 0.25rem 0.5rem;
    
}
.dropdown-container{
    position: relative;
    display: inline-block;

}
.dropdown-trigger{
    display: flex;
    align-items: center;
    gap: 3px ;
    cursor: pointer;
    transition: all 0.3s ease;
}
.dropdown-menu{
    position: absolute;
    background-color: #fff;
    color: #000;
    animation: dropdownFadeIn 0.2s ease-in-out;
}
.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 8px 0;
}
.dropdown-link{
    display: block;
    color: #333;
    padding: 2px;
    transition: all 0.2s ease;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 12px;
    cursor: pointer;


}
.dropdown-link:hover {
  background-color: #f8f9fa;
  color: #007bff;
}

