.b-container{
    height: 320px;
    background: #fff;
    width: 100%;
    overflow: hidden;
    position: relative;
    
 
    
}
.b-image{
    width: 100%;
    height: 100%;
}
.b-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}
.b-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
     top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.now-btn{
    background: rgb(231, 57, 86);
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}