h1,
h2,
h3,
button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}

.HeroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-family: josefin sans, sans-serif;

}

.hero-content {
  align-items: center;
  margin: 0;
  top: 0%;
  line-height: 60%;
  flex-direction: column;
  display: grid;
  justify-content: center;
  text-align: center;

  position: relative;
  padding: 0 2rem;
  vertical-align: baseline;




}












.promotional-image.left img {
  flex-wrap: wrap;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
  background-color: #F2F0FF;




}

.hero-btn {
  background: #FB2E86;
  width: 163px;
  height: 50px;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;

}

.hero-content {
  text-align: left;
  margin-left: -150px;
  width: 644px;
  height: 248px;


}

.hero-subtitle {
  width: 230px;
  height: 28px;
  font-weight: 700;
  font-size: 16px;
  color: #FB2E86;
  white-space: nowrap;


}

.hero-title {
  color: #000;
  width: 644px;
  height: 140px;
  font-weight: 700;
  font-size: 53px;
  margin-top: 10px;
  letter-spacing: 1.5%;
  line-height: 120%;

}

.hero-Subtitle {
  color: #8A8FB9;
  width: 559px;
  height: 56px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;



}