.trend-box{
    display: flex;
    background-color: #fff;
    
}
.a-info{
    width: 420px;
    height: 270px;
    background-color: rgba(236, 205, 244, 0.912);
}
.a-info img{
    object-fit: contain;
    width: 350px;
    height: 170px;
}
.a-subtitle{
    color: rgb(32, 38, 149);

}
.a-info button{
    color: rgb(176, 6, 6);
    text-decoration: underline;
}
.b-info{
    width: 420px;
    height: 270px;
    background-color: rgb(203, 200, 200);
    margin-left: 30px;
}
.b-info img{
    width: 380px;
    height: 170px;
}
.b-subtitle{
    color: rgb(32, 38, 149);
}
.b-info button{
     color: rgb(176, 6, 6);
    text-decoration: underline;
}
.c-info{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 170px;
    margin-left: 30px;
}
.c-1{
    display: flex;
    width: 267px;
    height: 74px;
}
.c-1 img{
    background-color: aliceblue;
    
    width:64px;
    height:71px;
    margin-bottom: 20px;

}
.inf{
    align-items: center;
    color: rgb(32, 38, 149);
     width:151px;
    height:33px;
   column-gap: 5px;
}
.c-2{
    display: flex;
}


.c-2 img{
     background-color: aliceblue;
    width:64px;
    height:71px;
    margin-bottom: 10px;
}
.c-3{
    display: flex;
}

.c-3 img{
     background-color: aliceblue;
    width:64px;
    height:71px;
}
