.whole-page{
    background-color: #fff;
}
.blog-page{
    background-color: #F6F5FF;
    height: 285px;
    top: 125px;

}
.remaining-part{
    display: flex;
}
.page-title{
    color: #101750;
    font-weight: 700;
    font-size: 36px;
    align-items: center;

}
.side-right{
    display: flex;
    flex-direction: column;
}
.side-image{
    width: 870px;
    height: 453px;
    border-radius: 6px;
    top: 536px;
    left: 371px;
}
.side-item{
    display: flex;
    gap: 50px;
}
.side-icon{
    color: #FB2E86;

}
.side-name{
    background-color: #FFE7F9;
    color: #151875;
    font-weight: 400;
    font-size: 14px;

}
.side-number{
    color: #FFA454;

}
.side-date{
    background-color: #FFE7F9;
    color: #151875;
    font-weight: 400;
    font-size: 14px;
}
.side-info{
    width: 852px;
    height: 143px;
    
}
.side-title{
    color: #151875;
    font-weight: 700;
    font-size: 30px;
    width: 729px;
    height: 35px;
}
.side-description{
    color:#8A8FB9 ;
    font-weight: 400;
    font-size: 16px;
    width: 852px;
    height: 49px;
}
.side-left{
    gap: 20px;
}
.search{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 77px;
   
}
.categories{
    width: 254px;
    height: 161px;
}
.categories-lists{
    display: flex;
    gap: 10px;
}
li{
    gap: 10px;
}
.post-big-container{
    width: 250px;
    height: 270px;
}
.post-cont{
    width: 250px;
    height: 51px;
    display: flex;
    gap: 10px;
}
.post-img{
    width: 70px;
    height: 51px;
}
.post-info{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: -70px;
}
.post-title{
    color: #3F509E;
    font-weight: 400;
    font-size: 14px;
}
.post-date{
    color: #8A8FB9;
    font-weight: 600;
    font-size: 11px;
}
.sale-big-container{
    width: 250px;
    height: 201px;

}
.sale-container{
     width: 250px;
    height: 57px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.sale-img{
    width: 70px;
    height: 57px;

}
.sale-info{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: -70px;

}
.sale-title{
    color: #3F509E;
    font-weight: 400;
    font-size: 14px;

}
.sale-date{
    color: #8A8FB9;
    font-weight: 600;
    font-size: 11px;
    margin-top: -12px;

}
.offer-big-cont{
    width: 267px;
    height: 282px;
    display: flex;
}
.offer-1{
    display: flex;
    flex-direction: column;
    width: 126px;
    height: 126px;
    margin-bottom: 40px;
    gap: 10px;
}
.offer-2{
    display: flex;
    flex-direction: column;
    width: 126px;
    height: 126px;
    gap: 10px;
    ;
}
.offer-images{
    width: 126px;
    height: 80px;
}
.offer-info{
    display: flex;
    flex-direction: column;
    width: 94px;
    height: 37px;
    
}
.offer-title{
    color: #151875;
    font-weight: 600;
    font-size: 14px;
    margin-top: -10px;
    width: 94px;
    height: 18px;
}
.price-range{
    color: #8A8FB9;
    font-weight: 600;
    font-size: 12px;
    width: 86px;
    height: 14px;
}
.icons{
    text-align: left;
}
.icon0{
    color: #5625DF;
}
.icon1{
    color:#FF27B7 ;
}
.icon2{
    color: #37DAF3;
}
.tag-item{
    text-decoration: underline;
}
.tag-item:hover{
    color: #FB2E86;
    text-decoration: underline;
}

