.order-complete{
    background-color: #fff;

}
.order-head{
    background-color: #F6F5FF;
    height: 286px;
    top: 125px;
}
.centre{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sec-centre{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sec-title{
    color: #101750;
    font-weight: 700;
    font-size: 36px;
    
}
.sec-description{
    width:625px;
    height: 90px ;
}
.continue-btn{
    background-color: #FF1788;
    width: 208px;
    height: 59px;
    color: white;
    border-radius: 3px;
}
