.Big-container{
    background-color: #fff;
    z-index: 988;
    position: relative;
    top: 5%;
}


.first-part{
    background-color: #F6F5FF;
    height: 286px;
    width: 100%;
    top: 125px;
    align-items: center;
    
}
.buttons{
    display: flex;
    align-items: center;
    
}
.buttons :hover{
    color: #FB2E86;
    text-decoration: none;
}
h2{
    color: #101750;
    font-weight: 700;
}
.second-part{
    height: 44px;
    top:535px;
    left: 374px;
    gap: 2px;
}
.second-heading{
    color: #151875;
    font-weight: 700;
}

.third-container{
    display: flex;
    flex-direction: row;
    height: 254px;
    gap: 5px;
    left: 384px;
    width:1400px;
    margin-top: 50px;
}
.pic-container{
    height: 217px;
    width: 313px;
    left:393px;

}
.pic-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}
h3{
    color: #111C85;
}
.items-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pic-info{
    flex: 1;
    display: flex;
  flex-direction: column;
  
}
.p-1 {
  margin-bottom: 15px;
  display: flex;
  gap: 70px;
}
.color-dots {
  display: flex;
  gap: 8px;
  opacity: 1;
}
.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid white;
  box-shadow: 0 0 0 1px #e2e8f0;
  margin-top: 22px;
}
.p-2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.pricing {
  display: flex;
  gap: 12px;
  align-items: center;
}
.new-price {
  font-size: 1.2rem;
  color: #111C85;
  font-weight: 700;
}

.old-price {
  font-size: 1rem;
  color: #FF2AAA;
  text-decoration: line-through;
}

.product-rating {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-top: 20px;
}

.star-filled {
  color: #FFC416;
}

.star-empty {
  color: #e2e8f0;
}
.p-3{
    display: flex;
    flex-direction: column;
}
.description {
  color: #718096;
  margin: 0;
  line-height: 1.5;
}
.adt-image{
   margin-top: 50px;
    width: 804px;
    height: 93px;
    display: flex;
    align-items: center;
   
}